
.rbc-calendar {
  min-height: 580px;
}
.rbc-header{
  padding: 8px;
  font-weight: bold;
}
.calendar-container {
  display: flex;
}

.calendar-view {
  flex: 3; /* Adjusted for 60% width */
  width: 100%;
  height: 100vh; 
  margin-right: 20px;
}

.details-view {
  flex: 2; /* Adjusted for 40% width */
  position: relative; /* This will help position the cancel button absolutely within it */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel-button {
  position: absolute;
  top: 10px; 
  right: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ccc;
  color: #fff;
  transition: background-color 0.3s;
}


.cancel-button:hover {
  background-color: #999;
}


.full-width {
  flex: 5;
}

/* .acceptedEvent {
  background-color: green !important;
  color: white !important;
}

.rejectedEvent {
  background-color: red !important;
  color: white !important;
} */

